@model Login

<h1>Quando quero mandar algo simples. Bem Vindo, @ViewData["churros"]!</h1>

<h2>Quando quero mandar um objeto e necessário ser enviado uma por View. @ViewBag.abobora.Usuario, @ViewBag.abobora.Senha</h2>

<h3>Usando o model e o mais utilizado: @Model.Usuario, @Model.Senha</h3> 